{
  admin off
  local_certs
  auto_https disable_redirects
  default_sni {$CADDY_HTTPS_HOST:localhost}
  fallback_sni {$CADDY_HTTPS_HOST:localhost}
}

:80 {
  log {
    output stdout
    format json
  }
  redir {$CADDY_HTTPS_REDIRECT_TARGET:https://localhost}{uri} permanent
}

{$CADDY_HTTPS_HOST:localhost}:443 {
  tls internal {
    key_type rsa2048
  }

  @root-ca path /root.crt
  handle @root-ca {
    root * /data/caddy/pki/authorities/local
    file_server
  }

  @api path /v1/* /internal/* /oauth/* /.well-known/* /mcp/.well-known/* /api/mcp
  reverse_proxy @api api:3000

  @auth path /auth/v1/*
  reverse_proxy @auth api:3000

  log {
    output stdout
    format json
  }

  reverse_proxy dashboard:3001
}

{$CADDY_HTTPS_HOST:localhost}:{$CADDY_PROXY_HTTPS_PORT:8442} {
  tls internal {
    key_type rsa2048
  }

  @root-ca path /root.crt
  handle @root-ca {
    root * /data/caddy/pki/authorities/local
    file_server
  }

  log {
    output stdout
    format json
  }

  reverse_proxy proxy:8080
}
